<%= form_for @listing , html: {multipart: true} do |f| %>

  <%= render 'shared/error', obj:@listing %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description %><br>
    <%= f.text_area :description,  class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.text_field :price,  class:"form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :image %><br>
    <%= f.file_field :image,  class:"form-control" %>
   </div>



  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
