<div class="footer">
    <footer class="container">
            <p class="pull-right">
                <%= link_to '<span class="glyphicon-class glyphicon glyphicon-chevron-up"></span> Back to top'.html_safe, '#Top' %>
            </p>

            <p> &copy; <%= Time.now.year %> &nbsp; <%= meta_author %> &nbsp;<%= site_name %> &middot; 
                <%= link_to "Privacy", privacy_path %>
                    &middot; 
                <%= link_to "Term", term_path %>

            </p>
    </footer>
</div>